.navy-text {
color: #000080;
}
.grey-text {
color: #333333;
}
.black-text {
  color:#000000;
}
.a {
color: #333333;
font-size: 16px;
font-weight: normal;
font-style: normal;
padding: 0px 10px 0px 0px;
display: inline;
text-decoration: none;
}
.a:link {
color:#333333;
 text-decoration: none;
}
.a:visited {
  color:#000000;
  text-decoration: none;
}
.a:hover {
  color:#0D9DE1;
  text-decoration: none;
}

.mainnav li {
display: inline;
}
.mainnav a {
color: #333333;
font-size: 16px;
font-weight: normal;
font-style: normal;
padding: 0px 15px 0px 0px;
text-decoration: none;
}
.mainnav a:link {
color:#333333;
 text-decoration: none;
}
.mainnav a:visited {
  color:#000000;
  text-decoration: none;
}
.mainnav a:hover {
  color:#0D9DE1;
  text-decoration: none;
}
/*
.mainnav a:active{
  color:#000080;
  text-decoration: underline;
}*/

body {
background-color: #ffffff;
border-top: 3px solid #0D9DE1 /*#0088cc*/;
border-bottom: 3px solid #0D9DE1;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
/*padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
padding-color: #89cff0;*/
}
.topbanner {
background-image: url("Atlanta_PiedmontPark001-large-cropped.jpg");
/*background-color:#aaaaaa;*/
height: 180px;
background-repeat: no-repeat;
background-size:cover;
}

.topbanner .container {
position:relative;
/*top:15px;*/
/*bottom:40px;*/
}

.clinic {
color:#000080;
font-size: 36px;
/*font-weight: bold;*/
padding: 0px 0px 0px 0px;
line-height: 30px;
}

.clinic a:link {
color:#000080;
  text-decoration: none;
}

.clinic a:visited {
  color:#000080;
  text-decoration: none;
}

.clinic a:hover {
  color:#0D9DE1;
  text-decoration: none;
}
/*
.clinic a:active{
  color:#000080;
  text-decoration: underline;
}*/

.tag {
  color: #333333;
  font-size: 20px;
  font-style: italic;
  line-height: 18px;
}

.banner {
font-size: 20px;
background-color:#aaaaaa;
height: 2px;
/*background-repeat: no-repeat;*/
background-size:cover;
}

.homeinfo {
  width: 60%;
  /*margin: 0px 100px 0px 0px;*/
}

.sideinfo {
  vertical-align: top;
  text-align: left;
  padding: 5px 0px 0px 0px;
  font-color: #333333;
  font-size: 18px;
  line-height: 23px;
}

.homepg {
  max-width: 1000px;
  margin: auto;
}

section.intro {
  vertical-align: top;
  text-align: center;
  padding: 5px 0px 5px 0px;
  font-color: #aaaaaa;
  font-size: 18px;
  line-height: 23px;
  width:100%;
}

.featuredmain {
  vertical-align: top;
  text-align: center;
  padding: 5px 0px 5px 0px;
  font-color: #333333;
  font-size: 18px;
  line-height: 23px;
  width:100%;
}
.featuredmain a {
color: #333333;
text-decoration: none;
}
.featuredmain a:link {
color:#333333;
 text-decoration: none;
}
.featuredmain a:visited {
  color:#000000;
  text-decoration: none;
}
.featuredmain a:hover {
  color:#0D9DE1;
  text-decoration: none;
}
.otherlinks a {
color: #333333;
text-decoration: none;
}
.otherlinks a:link {
color:#333333;
 text-decoration: none;
}
.otherlinks a:visited {
  color:#000000;
  text-decoration: none;
}
.otherlinks a:hover {
  color:#0D9DE1;
  text-decoration: none;
}

.threecolumn {
  /*max-width: 1000px;*/
  margin: auto;
  vertical-align: top;
  text-align: center;
  font-color: #333333;
  font-size: 18px;
  line-height: 23px;
  /*width:100%;*/
}
.threecolumn:after {
  content: "";
  display: table;
  clear: both;
}
.col {
  float: left;
  width: 33.3%;
  padding: 0px 0px 5px 0px;
}
@media screen and (max-width:400px) {
  .col {
    width: 100%;
  }
}

footer {
font-color:#000000;
font-size:14px;
position:bottom;
}

.featured {
  font-color: #333333;
  overflow-x:auto;
  max-width: 1000px;
  margin: auto;
}
.featured h2 {
  text-align: center;
  color:#333333;
}
.featured p {
  color:#333333;
  text-align:center;
  font-size: 18px;
  line-height: 23px;
}

.featured th {
  color:#333333;
}

.featured td {
  color:#333333;
  padding: 0px 5px 0px 0px;
}

.featured table{
  margin: auto;
  width: 50%;
}

.clearfix {
  overflow: auto;
}

.contactbanner {
background-image: url("officefront_allrightsreservedforklmedicalclinic_donotdistribute.jpg");
height: 180px;
background-repeat: no-repeat;
background-size:contain;
}

.gallery {
  margin: 5px;
  border: 0px solid #fff;
  float: left;
  width: 180px;
}
.gallery:hover {
  border: 0px solid #777;
}
.gallery img {
  width: 100%;
  height: auto;
}
